[Desktop Entry]
Name=Nightfall Blue
Comment=Dark blue window decoration with rounded corners
X-KDE-PluginInfo-Author=Rich
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=NightfallBlue
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
